# Environment variables
# Only variables prefixed with NEXT_PUBLIC_ are exposed to the client

# Auth
# Generate one here: https://generate-secret.vercel.app/32
NEXTAUTH_SECRET=your-nextauth-secret
NEXTAUTH_URL=http://localhost:3000

# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/modern-saas-starter"

# You can generate the secret via 'openssl rand -base64 32' on Unix
# @see https://next-auth.js.org/configuration/options#secret